
roteiro_plots_bigdata/.RData
roteiro_plots_bigdata/.Rhistory
.DS_Store

roteiro_plots_bigdata/roteiro_plots_bigdata_cache/*

roteiro_plots_bigdata/roteiro_plots_bigdata_files/*

roteiro_plots_bigdata/rsconnect/*

