
roteiro_plots_bigdata/.RData
roteiro_plots_bigdata/.Rhistory
.DS_Store

roteiro_plots_bigdata/roteiro_plots_bigdata_cache/*
roteiro_plots_bigdata/roteiro_plots_bigdata_files/*
roteiro_plots_bigdata/rsconnect/*

graficos_correlacoes/.RData
graficos_correlacoes/.Rhistory
graficos_correlacoes/plots_correlacoes_cache/*
graficos_correlacoes/plots_correlacoes_files/*
graficos_correlacoes/rsconnect/*
outliers_multivariados/outliers_multivariados_cache/*
outliers_multivariados/outliers_multivariados_files/*
outliers_multivariados/analises_preliminares/.Rhistory
normalidade_multivariada/normal_multivariada_cache/*
normalidade_multivariada/normal_multivariada_files/*

outliers_multivariados/.RData
outliers_multivariados/.Rhistory
